@using RichbetsResurrected.Entities.DatabaseEntities.Shop
@model RichbetsResurrected.Web.ViewModels.CustomStylingViewModel

@{
    ViewData["Title"] = "Custom styling";
    Layout = "_MainLayout";
}

@section Head{
    <link rel="stylesheet" href="~/css/Itemshop/itemshop.css">
    <link rel="stylesheet" href="~/css/Itemshop/customstyling.css">
    <link rel="stylesheet" href="~/css/username.styles.css">
    <script src="~/js/Itemshop/view.rb.js"></script>
    <script src="~/js/Itemshop/custom-styling.rb.js" defer></script>
}

<nav class="navbar">
    <a href="../Itemshop" class="nav-item">Main shop</a>
    <a asp-controller="Itemshop" asp-action="LureModules" class="nav-item nav-disabled">Lure modules</a>
    <a asp-controller="Itemshop" asp-action="MuteBypass" class="nav-item nav-disabled">Mute bypass</a>
    <a asp-controller="Itemshop" asp-action="BuildingItems" class="nav-item nav-disabled">Building items</a>
</nav>

<h1 class="page-title">Custom styling</h1>

@foreach (SubCategory subCategory in Model.SubCategories){
    <div class="product-box">

        <h1 class="category-title">@subCategory.Name</h1>

        <div class="product-list-box">

    @foreach (Item item in subCategory.Items){

        <div class="product-container" style="border-image-source: url('@item.ImageUrl')">

            <div class="product-desc">
                <div class="product-data">
                    <p class="product-name product-text">@item.Name</p>
                    <p class="product-price product-text">Cost: <span style="color: #EE5353;">@item.Price</span></p>
                </div>
                @* <a asp-controller="Itemshop" asp-action="BuyItem" asp-route-itemId="@item.Id"> *@
                    <button class="buy-button" data-item-id="@item.Id">Buy</button>
                @* </a> *@
            </div>

            <div class="product-presentation">
                <p class="uName-presentation @item.Description" style="font-size: 22px;">@User?.Identity.Name</p>
                <p class="uName-presentation @item.Description" style="font-size: 18px;">@User?.Identity.Name</p>
                <p class="uName-presentation @item.Description" style="font-size: 14px;">@User?.Identity.Name</p>
            </div>

        </div>

    }

        </div>
    </div>
}